
<!-- General styles -->

body { color: #212529;	}
body a { color: #212529; }
body a:hover { color: #909090;	}
body.dark-mode a:hover { color: #909090;	}
body.dark-mode .btn-custom {color: #ffffff;}
body.dark-mode .btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open .dropdown-toggle.btn-custom { color: #FFFFFF; background-color: #1e73be; border-color: #1e73be; }
ul.menu > li { font-size: 14px; }
mark, .mark { border-radius: .75rem !important }
.bg { background: #f8f9fa; z-index: 0; }
.bg-side { background: #e8f9f9; }
.bg-navbar { background-color: #f8f9fa; }
.bg-current { background: ; }
.bg-footer { background: #f4f4f4; }
.bg-nextprev { background: ; }
.bg-cart-totals, .bg-customer-order-address { background: #F1F1F1; }
.hamb-menu { color: #212529; }
.navbar-2 .nav-link { color: #333333; }
.logo {	height: 55px; }
.navbar-height { height: 70px; }
.navbar-search { top: 70px; }
.scrollbar::-webkit-scrollbar-thumb { border: 3px solid #e8f9f9; }
.wc-navigation-sticky-top, .navigation-sticky-top { top: 70px; }
.pace .pace-progress { background: #ff0000; }
.pt-fixed { top: 70px; }
@media only screen and (max-width: 1130px) { .pt-fixed { top: calc(70px * 1.75 ); } }
.slider-cover { height: calc(70vh - 70px); }
.page-wide-cover { height: calc(100vh - 70px); }
.single-comments-content { background: #E5FBFB; }
.border-custom { border:1rem solid; border-color: #f8f9fa; }
.sticky-top-left-title { top: calc(70px + 1rem); }
.page-numbers { color: #ffffff; background-color: #007aff; border-color: #007aff; border-radius: .75rem !important }
.border-class, #border-class { border-radius: .75rem !important }
.border-more-rounded { border-radius: 2rem; -webkit-border-radius: 2rem; -moz-border-radius: 2rem; }
.book-card-bg { background-color: #e0e6fb; }
.book-card-bg:hover { background-color: #f6ffd5; }
.book-card-txt, .book-card-txt a, .book-card-txt a:hover, body.dark-mode .book-card-txt a { color: #212529; }
.title-in a, .text-in, .title-out a, .text-out { color: #ffffff;}
.home-va-btn a { color: #007aff; }
.author-name a, .author-name-archive a { color: #007aff; }
.publisher-name a, .publisher-name-archive a { color: #000000; }
.hamb-menu, .hamb-menu-right, .dropdown-sidenav-btn { color: #007AFF; }
.btn-custom { color: #ffffff !important; background-color: #007aff !important; border-color: #007aff !important; border-radius: .75rem !important }
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open .dropdown-toggle.btn-custom { color: #FFFFFF !important; background-color: #1e73be !important; border-color: #1e73be !important; }
.menu-item { border-radius: .75rem !important }
.menu-hover:hover, .col-hover:hover { background: #d3eeff; border-radius: .75rem !important }
.grid-sizer {  }
@media only screen and (min-width: 769px) and (max-width: 991px) { .grid-sizer,.grid-item-3,.grid-item-4,.grid-item-5 { width: 33.333%; } }
#search input[type="radio"]:after, #search input[type="radio"]:checked:after { border-radius: .75rem !important }
.grid-sizer-pc {  }
@media only screen and (min-width: 769px) and (max-width: 991px) { .grid-sizer-pc,.grid-item-pc-3,.grid-item-pc-4,.grid-item-pc-5,.grid-item-pc-6,.grid-item-pc-7 { width: 33.333%; } }
.grid-sizer-pr { width: 16.666666%; }
@media only screen and (min-width: 769px) and (max-width: 991px) { .grid-sizer-pr,.grid-item-pr-3,.grid-item-pr-4,.grid-item-pr-5,.grid-item-pr-6,.grid-item-pr-7 { width: 33.333%; } }
.previous:before { content: "\f053"; }
.next:before { content: "\f054"; }
.social-icons { background: #007aff; border-radius: 50% !important; }
.social-icons a:not([href]), .social-icons a:not([href]):hover, .social-icons a, .social-icons a:hover { color: #FFFFFF; }

<!-- Woocommerce -->

.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
	background: #1e73be;
	background-color: #1e73be;
	box-shadow: none;
	text-shadow: transparent;
	color: #ffffff;
	border-color: #1e73be;
}

.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover,
.woocommerce a.button:hover, .woocommerce button.button:hover,
.woocommerce input.button:hover, .woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover,
.woocommerce-page button.button:hover, .woocommerce-page input.button:hover {
	background: #1e73be;
	background-color: #1e73be;
	box-shadow: none;
	text-shadow: transparent;
	color: #ffffff;
	border-color: #1e73be;
}

.woocommerce #content input.button, .woocommerce #respond input#submit,
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce-page #content input.button, .woocommerce-page #respond input#submit,
.woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
	background: #f1f1f1;
	color: #333333;
}

.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
	background: #1e73be;
	box-shadow: none;
	text-shadow: transparent;
	color: #ffffff;
	border-color: #1e73be;
}

.woocommerce div.product span.price, .woocommerce .taxonomy-summary p.price { font-size: 15px; }
.woocommerce span.onsale { color: #ffffff; }

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    background: #E5FBFB;
}

.woocommerce form .form-row input.input-text, .woocommerce-checkout .woocommerce form .form-row .select2-container {
	border-radius: .75rem !important;
}

.woocommerce .size-woocommerce_thumbnail, img.woocommerce-placeholder, img.attachment-woocommerce_thumbnail {
	width: 100%;
	height: auto;
	border-radius: .75rem !important;
}

</style>

    <title>EXLIBRIS &#8211; Book Store WordPress WooCommerce Theme</title>
<link rel='dns-prefetch' href='../../../fonts.googleapis.com/index.html' />
<link rel='dns-prefetch' href='../../../s.w.org/index.html' />
<link rel="alternate" type="application/rss+xml" title="EXLIBRIS &raquo; Feed" href="feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="EXLIBRIS &raquo; Comments Feed" href="comments/feed/index.html" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/demo.ramsthemes.com\/projects\/exlibris\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.4.2"}};
			/*! This file is auto-generated */
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
